.indicator-wrapper {
    padding: 0 7px;
}

@media (max-width: 1000px) { 
    .title-wrapper {
        height: 60px;
        margin-bottom: 5px; 
    }
 }

 @media (min-width: 1000px) { 
    .title-wrapper {
        height: 30px;
        margin-bottom: 5px; 
    }
 }

.value-wrapper {
    margin: 10px auto;
    width: 50px;
}

.label-wrapper {
    margin: 7px auto;
}

.small-font {
    font-size: 10px;       
}

.big-font {
    font-size: 16px;
}

.underline-success {
    border-bottom: 2px var(--success-color) solid;
}

.underline-warning {
    border-bottom: 2px var(--warning-color) solid;
}