.app-wrapper {
    background-color: var(--main-bg-color);
    min-height:  80vh;
    color: var(--font-color);
    padding: 80px 10%;
}

.indicators-list-flexbox {
    display: flex;
    flex-wrap: nowrap;
    flex-basis: content;
    justify-content: center;
}

.indicator-item {
    margin: auto;
    max-width: 120px;
    
}
